

<h2 id="loginTitle">Welcome!</h2>

<div id="loginContainer">

<%= form_with model: @user, url: session_path(@user) do |f| %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "formStyle", placeholder: "Email" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "formStyle", placeholder: "Password" %>
  <div class="actions">
    <%= f.submit "Log in",  class: "formButton" %>
  </div>
<% end %>
</div>


