
<div class='viewportRowPrim'>
  <div class='column'>
    <%= image_tag "banners/logoimg2.png" , id:'main-logo'%>
  </div>
  <div class='column'>
      Proximamente...  
  </div>
</div>
<div class='viewportRowSec'>
</div>
<div class='viewportRowThird'>
  <div class="spinner d-flex align-items-center">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>


