<h3>Editing Type</h3>

<%= render 'form', type: @type %>

<div class="btn-group">
<%= link_to @type do%>
<i class="far fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to types_path do%>
<i class="fas fa-undo"> Back</i>
<% end %>
</div>