<%= simple_form_for :search, url: clients_path, html: {class: "d-flex flex-row form-inline col-10"}, method: "GET", remote: true do |form| %>
    <div class="input-group w-100">
      <%= form.input :search_word, input_html:{class: "form-control w-100"}, placeholder: "Enter search term...", label: false %>
      <div class="input-group-append">
        <%= button_tag(type: "submit", class: "searchSubmit", data: {toggle: "tooltip"}, title: "Search!") do%>
          <i class="fas fa-search"></i>
        <% end %>
        <%= link_to "", class: "searchSubmit btn-outline-danger", data: {toggle: "tooltip"}, title: "Clear Search" do%>
        <i class="fas fa-times"></i>
        <% end %>
      </div>
    </div>
  <% end %>