<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<%= render 'form', client: @client %>

<%= link_to clients_path, tabindex: autotab do%>
<i class="fas fa-undo"> <%= t('back') %></i>
<%end%>
</div>
</div>
</div>
</div>
