<h2>Deliveries</h2> 

<%if !(@deliveries.nil? || @deliveries.empty?) %>
  <% @deliveries.each do |d,dels| %>
    <%= render 'index_data', date:d, deliveries:dels %>
  <% end %>
<% else %>
  <div class='alert alert-success w100 text-center'><i class="far fa-check-circle"></i> All done!</div>
<% end %>

<% if action_name == 'index'%>
<div class="btn-group">
<%= link_to 'New Delivery', new_sale_delivery_path %>
<%= link_to sales_path do%>
<i class="fas fa-undo"></i> Sales
<% end %>
</div>
<%end%>
