<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<%= render 'form_step_1', delivery: @delivery %>

<%= link_to sale_deliveries_path(@sale) do%>
<i class="fas fa-undo"></i> <%= t('back') %>
<%end%>
</div>
</div>
</div>
