<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<%= render 'form', delivery_type: @delivery_type %>

<%= link_to delivery_types_path do%>
	<i class="fas fa-undo"></i> <%= t('back') %>
<%end%>
</div>
</div>
</div>
