<div class="form-position">
	<%= form_with(model: payment_type, local: true, class: "was-validated") do |form| %>
		<%= render partial: 'layouts/form_errors',locals: {object: payment_type} %>

 		<div class="input-container">
	        <div class="row input-group">
	          	<div class="input-position form-group">
				  	<%= form.text_field :name, class: "form-control", placeholder: " Payment type Name..." %>
				</div>
			</div>
		</div>
		<br>
  		<div class="container d-flex justify-content-center">
        	<div class="btn-group">
          		<%= form.submit name: t('.submit'), tabindex: 0 %>
    <% end %>
