<p>
  <strong>Name:</strong>
  <%= @payment_type.name %>
</p>


<div class="btn-group">
<%= link_to edit_payment_type_path(@payment_type) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to payment_types_path do%>
  <i class="fas fa-undo"> Back</i>
<%end%>
</div>	