<h3>New Adress for <%=@client.first_name%> <%=@client.last_name%></h3>

<%= render 'form', adress: @adress %>

<%= link_to client_adresses_path(@client) do%>
<i class="fas fa-undo"> Back</i>
<%end%>
</div>
