<h3><%=t('.title', client: @adress.client.full_name)%></h3>

<%= render 'form', adress: @adress %>

<%= link_to client_adresses_path(@client) do%>
<i class="fas fa-undo"> <%= t('back') %></i>
<%end%>
</div>
