$color-primary: #613f00; //CMYK: 0%, 35%, 100%, 62%
$color-secondary: #F7E6B2; //CMYK: 0%, 7%, 28%, 3%
$color-tertiary: #CC5C29; // CMYK: 0%, 55%, 80%, 20%

$placeholder-color:#D9D9D9 // CMYK: 0%, 0%, 0%, 15%