@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "products";
@import "clients";

.dark-mode {
	@extend .bg-dark;
  	color: white;
  	table{
  		color:white;
  		tr:hover{
  			background:Gray;
  		}
  	}
  	#mainMenu{
  		background:Gray;
  	}
  	.form-control{
  		color:white;
  	}
 }

html, body{
height: 100%;
}

a, input[type=submit], button[type=submit]{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-outline-primary;
}
.deleteBtn{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-outline-danger;
	i:hover{
	animation: shake 0.5s;
	}
	@keyframes shake {
	  0% { transform: translate(1px, 1px) rotate(0deg); }
	  10% { transform: translate(-1px, -1px) rotate(-1deg); }
	  20% { transform: translate(-1px, 0px) rotate(1deg); }
	  30% { transform: translate(1px, 1px) rotate(0deg); }
	  40% { transform: translate(1px, -1px) rotate(1deg); }
	  50% { transform: translate(-1px, 1px) rotate(-1deg); }
	  60% { transform: translate(-1px, 1px) rotate(0deg); }
	  70% { transform: translate(1px, 1px) rotate(-1deg); }
	  80% { transform: translate(-1px, -1px) rotate(1deg); }
	  90% { transform: translate(1px, 1px) rotate(0deg); }
	  100% { transform: translate(1px, -1px) rotate(-1deg); }
	}
}
.table-responsive-fixed{
	overflow-x:scroll;
}
table{
	@extend .table;
	@extend .table-sm;
	@extend .table-hover;
	font-size: 0.8rem;
	border-line:none;
	thead{
		@extend .thead-dark;
	}
	a, a.deleteBtn{
		font-size: x-small;
	}
}
th,td{
	@extend .align-middle;
	display:table-cell;
}



//////////////////////////////


////////////////////////////
#welcomeBanner{
	text-align: center;
	font-size: 40px;
	background-color: chocolate;
}
#mainMenu{
	padding:5px 0px;
}
#mainMenu ul{
	padding:0px;
	height:100%;

}
#mainMenu ul li{
	height:100%;
}
#mainMenu a, #mainMenu label, #mainMenu .custom-switch{
	color: white;
	background: none;
	border:none;
	border-radius:0px;
	height:100%;
}
#mainMenu a:hover{
	background: black;
}
#mainMenu .dropdown-menu{
	@extend .bg-dark;
	@extend .navbar-dark;
	border-radius:0px;
}
#mainMenu .nav-item-switch{
	padding-left:40px;
}

#collapsibleNavbar{
	background: #343a40 !important
}

#minFullBrowserContainer{
	min-height:100%;
	transition: background 0.4s, color 0.4s;
}

#overflowContainer{
	overflow: auto;
	padding-bottom: 100px; /* FOOTER HEIGHT */
}

#minFullBrowserContainerLogin{
	min-height:100%;
	background-color: #2ecc71;
    font-family: source-sans-pro, sans-serif !important;
}

#overflowContainerLogin{
	overflow: auto;
	padding-bottom: 100px; /* FOOTER HEIGHT */
}

#subBody{
	padding: 20px;
}

#footer{
    position: relative;
	height: 100px; /* IF CHANGED, MARGIN TOP AND #OVERFLOWCONTAINERS PADDING-BOTTOM MUST BE THE SAME VALUE */
	margin-top: -100px;
	clear: both;
	margin-bottom: 0px;
	text-align: left;
	font-size: 15px;
	padding: 20px;
	color: lightgrey;
	background-color: darkslategrey;
}

//////// LAYOUT ALERTS /////// 

////////////////////////////////

////////// FORMS ///////////

textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
   	background:none;
   	&:focus{
   		background:none;
   		box-shadow: none !important;
		border-color: #5e9bfc;
   	}
}

.custom-select {
   	background-color:none;
}
.form-group {
	margin:5px;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
