@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.dark-mode {
	@extend .bg-dark;
  	color: white;
 }

html, body{
height: 100%;
}
a, input[type=submit], button[type=submit]{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-outline-primary;
}
.deleteBtn{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-outline-danger;
}
.table-responsive-fixed{
	overflow-x:scroll;
}
table{
	@extend .table;
	@extend .table-sm;
	@extend .table-hover;
	@extend .table-bordered;
	font-size: 0.8rem;
	thead{
		@extend .thead-dark;
	}
	a, a.deleteBtn{
		font-size: x-small;
	}
}
th,td{
	@extend .align-middle;
	display:table-cell;
}



//////////////////////////////


////////////////////////////
#welcomeBanner{
	text-align: center;
	font-size: 40px;
	background-color: chocolate;
}
#mainMenu{
	padding:0px;
	height:50px;
}
#mainMenu ul{
	padding:0px;
	height:100%;

}
#mainMenu ul li{
	margin-right: 10px;
	height:100%;
}
#mainMenu a, #mainMenu label, #mainMenu .custom-switch{
	color: white;
	background: none;
	border:none;
	border-radius:0px;
	height:100%;
}
#mainMenu a:hover{
	background: black;
}
#mainMenu .dropdown-menu{
	@extend .bg-dark;
	@extend .navbar-dark;
	border-radius:0px;
}
#mainMenu .nav-item-switch{
	padding-left:40px;
}

#collapsibleNavbar{
	background: #343a40 !important
}

#minFullBrowserContainer{
	min-height:100%;
}

#overflowContainer{
	overflow: auto;
	padding-bottom: 100px; /* FOOTER HEIGHT */
}

#minFullBrowserContainerLogin{
	min-height:100%;
	background-color: #2ecc71;
    font-family: source-sans-pro, sans-serif !important;
}

#overflowContainerLogin{
	overflow: auto;
	padding-bottom: 100px; /* FOOTER HEIGHT */
}

#subBody{
	padding: 20px;
}

#footer{
    position: relative;
	height: 100px; /* IF CHANGED, MARGIN TOP AND #OVERFLOWCONTAINERS PADDING-BOTTOM MUST BE THE SAME VALUE */
	margin-top: -100px;
	clear: both;
	margin-bottom: 0px;
	text-align: left;
	font-size: 15px;
	padding: 20px;
	color: lightgrey;
	background-color: darkslategrey;
}

//////// LAYOUT ALERTS /////// 

////////////////////////////////