// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.searchSubmit{
	display:inline-flex;
	text-decoration:none !important;
	border-width: 0px !important; 
	align-items:center;
	justify-content:center;
	min-width:50px;
}