<h3>Editing Product</h3>

<%= render 'form', product: @product %>

<%= link_to @product do%>
<i class="far fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to products_path do%>
<i class="fas fa-undo"> Back</i>
<% end %>
</div>
