<div class="dashboardContainer">
	<!--iframe width="100%" height="100%" src="https://datastudio.google.com/embed/reporting/50afe59f-8002-4e14-aa9f-7a01a09f1da3/page/TuEUB" frameborder="0" style="border:0" allowfullscreen></iframe-->

	<%= column_chart Sale.group_by_month(:sale_datetime, format:"%B %Y").sum(:total_amount),thousands:".", prefix: "$ ", xmin: "2020-01-01", xmax: "2021-01-01", colors: ["#613f00"], xtitle: "Meses", ytitle: "Monto", title: "Ventas ($)"%>
	<%= column_chart Sale.group_by_month(:sale_datetime, format:"%B %Y").count(:id),thousands:".", xmin: "2020-01-01", xmax: "2021-01-01", colors: ["#F7E6B2"], xtitle: "Meses", ytitle: "Cantidad", title: "Ventas (#)"%>
	<%= column_chart ShoppingCart.group_by_month(:updated_at, format:"%B %Y").sum(:product_q), thousands:".", xmin: "2020-01-01", xmax: "2021-01-01", colors: ["#CC5C29"], xtitle: "Meses", ytitle: "Cantidad", title: "Productos (#)"%>
</div>