<div class="dashboardContainer">	
	<!-- MOVER CODIGO AL CONTROLADOR/MODELO-->
	<%= column_chart [
  		{name: t(".sales"), data: @salesdata,color:["#017A24"]},
		{name: t(".costs"), data: @costsdata, color: ["#FF0F00"]},
		{name: t(".earnings"), data: @e, color: ["#613F00"],dataset: {type: "line", pointRadius: 15, pointHoverRadius: 10}}
		],
		id:"chart-1", xmin: "2020-01-01", xmax: "2021-01-01"
	%>
	<%= column_chart @salesq,id:"chart-2",thousands:".", xmin: "2020-01-01", xmax: "2021-01-01", colors: ["#F7E6B2"], ytitle: t(".quantity") , title: t(".sales"), defer:true, library:{animation: { easing: 'easeOutQuad' }}%>
	<%= column_chart @pdata, id:"chart-3",thousands:".", xmin: "2020-01-01", xmax: "2021-01-01", ytitle: t(".quantity"), title: t(".products"), defer:true, library:{animation: { easing: 'easeOutQuad' }}%>
</div>