<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<%= render 'form_step_1', sale: @sale %>

<%= link_to sales_path do%>
<i class="fas fa-undo"></i> <%= t('back') %>
<% end %>
</div>
</div>
</div>


