<h3>Editing Subtype for <%=@type.name%></h3>

<%= render 'form', subtype: @subtype %>

<%= link_to [@type,@subtype] do%>
<i class="far fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to type_subtypes_path(@type) do%>
<i class="fas fa-undo"> Back</i>
<% end %>
</div>