<p>
  <strong>Name:</strong>
  <%= @subtype.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subtype.type.name %>
</p>

<p>

<div class="btn-group">
<%= link_to edit_type_subtype_path(@type,@subtype) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to type_subtypes_path(@type) do%>
  <i class="fas fa-undo"> Back</i>
<%end%>
</div>